body{
    background-image: url("../image/HomePage.jpg") ;
    background-repeat: no-repeat;
    background-attachment: fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    height:100%;
    width:100%;
    font-family:Arial, Helvetica, sans-serif;
    font-weight:800;
}

.error{
    height: 0px;
    color: red;
    line-height:normal;
}

a {
     color:white;

}
hr {
  margin: 0 0 !important;
}

#logo {
    padding: 10px 5px;
}

#registrationLogo{
    color:gray;
    font-weight:800;
    font-size: 30px;
    
}

#logo-text{
    color:gray;
    font-size: 25px;
    font-family:Arial, Helvetica, sans-serif;
    font-weight:800;
    text-decoration: none;
    cursor: pointer;
}

.homepage-info{
    color:white;
    font-size: 50px;
    position: relative;
    z-index:3;
}

.homepage-info span{
    font-size: 50px;
    color:gray;
}

.homepage-info p{
    font-size: 20px;
}

#signin-btn{
    padding: 5px;
    border:solid;
    text-decoration: none;
    font-size: 25px ;
    margin: 5px;
    color:grey;
    cursor: pointer;
   
}

#signin-btn:hover{
    background-color: grey;
    color:black;
    border-color: grey;
}

html, body, .container-table {
    height: 100%;
}
.container-table {
    display: table;
}
.vertical-center-row {
    display: table-cell;
    vertical-align: middle;
}

.radio{
    margin: 0px 0px !important;
}

.nav-item-margin{
    margin:0px 50px 0 0;
}

* {
    font-family: 'Open Sans', 'Segoe UI', 'Lucida Sans';
}

.navbar {
    min-height: 32px !important;
    background-color: rgba(0,0,0,0.7);
    border: none !important;
    height: 42px;

}

.nav > li.active > a {
    font-weight: 600 !important;
    color: white !important;
}

.nav > li.active > a:hover, .nav > li.active > a:focus {
    background-color: #0CA3D1;
    color: black !important;
    cursor: default !important;
}

.nav > li > a:hover, .nav > li > a:focus {
    background-color: #0CA3D1 !important;
    color: #FFF !important;
}

.navbar-nav > li > a {
    padding: 5px 10px !important;
    line-height: 32px !important;
}

.nav-color {
    font-weight: 100 !important;
}

#navbarUL{
    margin: 0 0 0 5% !important;
}

#logOutBtn {
    color: white;
    text-decoration: none;
}

#language{
  float: right;
 
    
    
    
}

    
