.form-group label{
    float:left;  
}
 
* {
   -webkit-box-sizing: border-box;
   -moz-box-sizing: border-box;
   box-sizing: border-box;
   outline: none;
}

.login-form {
    margin: 10px auto;
    max-width: 500px;
    position: relative;
    z-index: 3;

}

.col-xs-8>label{
    float:right;  
    color:cornsilk;
    text-align: right !important;
}

#image{
    background-color: transparent;
    
}

div[role=login] {
    font: 16px/2.1em Lato, serif;
    color: #e3e2e2;
    background: transparent;
}
div[role=login] h3 {
    font-size: 24px;
    color: #0b2344;
}
div[role=login] h4 {
    margin: 15px 0 30px 0;
}
div[role=login] input,
div[role=login] button {
    font-size: 16px;
    margin: 5px 0;
    border: none;
}
div[role=login] .col-xs-4 {
    margin: 0;
    text-align: left !important;
}
div[role=login] input {
    color: #888;
    background: #fff;
    box-shadow: none;
}
div[role=login] button {
    margin-top: 20px;
}
div[role=login] button:hover {

}
div[role=login] > section {
    margin-bottom: 30px;
}
div[role=login] > div {
    margin-top: 20px;
    font-size: 15px;
}
div[role=login] > div a {
    font-size: 15px;
    color: #8a8a8a;
    text-decoration: underline;
}
.checkbox{
 font-size: 24px !important;
 height: 20px !important;
 width: 20px !important;
 float:left !important;
 margin: 5px 0px !important;
}
div[role=login] > div {
    margin:0px 0px; 
}

#logOutList{
    float: right;
    margin: 0 5% 0 0;
    
}

